.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 738px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 27px 413px 0 0;
}

.u-section-1 .u-line-1 {
  height: 247px;
  transform-origin: center bottom 0px;
  width: 10px;
  margin: 73px auto 0 0;
}

.u-section-1 .u-image-1 {
  height: 641px;
  margin-top: -310px;
  margin-bottom: 12px;
  animation-duration: 1000ms;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 213px;
  }

  .u-section-1 .u-line-1 {
    position: relative;
    transform-origin: center top 0;
    width: 8px;
  }

  .u-section-1 .u-image-1 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 5px;
  }
}